[CONVENTIONS]
aside=>>>
author=@(<author(s)>)
code=:::
comment=///
emphasis=!<word(s)>!
important=!!!
date=(yyyy)
section:
    #################################################################
    # <section name>
    #################################################################
timeline.format=[LATE,EARLY,MID][[[dd.mm.]yyyy],PRESENT][S]
vocabulary="""<word>"""
