#####################################################################
# About this Project
#####################################################################
[PROJECT]
AUTHORS=Evan J. Coon
NAME=classNotes
SUMMARY:
    This project is aimed at managing class notes using vim and
    and various custom command-line tools.


#####################################################################
# Further Project Configuration
#####################################################################
[DIRS]
BASE=/home/ejtravis/classNotes
CLASSES=%(BASE)s/classes
CONFIGS=%(BASE)s/config
SCRIPTS=%(BASE)s/scripts
TEMPLATES=%(BASE)s/templates


[FILETYPES]
LECTURE=lec
CHAPTER=ch


[WRITING_CONVENTIONS]
ASIDE=>>>
AUTHOR=@(<author(s)>)
CODE=:::
COMMENT=///
EMPHASIS=!<word(s)>!
IMPORTANT=!!!
DATE=(yyyy)
SECTION:
    #################################################################
    # <section name>
    #################################################################
TIMELINE.FORMAT=[LATE,EARLY,MID][[[dd.mm.]yyyy],PRESENT][S]
VOCABULARY="""<word>"""
