#####################################################################
# About this File
#####################################################################
# NOTE: META is ignored explicitly by the main program, whereas
# sections prepended with "IGNORE." are ignored implicitly.
[META]
IGNORE=IGNORE.

#####################################################################
# Ignored by Program
#####################################################################
[IGNORE.FLASHCARDS]
CSV.FORMAT=front,"back"


#####################################################################
# About this Project
#####################################################################
[PROJECT]
AUTHORS=Evan J. Coon
NAME=classNotes
SUMMARY:
    This project is aimed at managing class notes using vim and
    and various custom command-line tools.


#####################################################################
# Further Project Configuration
#####################################################################
[DIRS]
BASE=/home/ejtravis/classNotes
BIN=%(BASE)s/bin
COURSES=%(BASE)s/courses
CONFIGS=%(BASE)s/config
TEMPLATES=%(BASE)s/templates


[FILETYPES]
LECTURE=lecture
READING=reading


[WRITING_CONVENTIONS]
ASIDE=>>>
AUTHOR=@(<author(s)>)
CODE=:::
COMMENT=///
DATE=(yyyy)
EMPHASIS=!<word(s)>!
IMPORTANT=!!!
QUERY=???
SECTION:
    #################################################################
    # <section name>
    #################################################################
TIMELINE.FORMAT=[LATE,EARLY,MID][[[dd.mm.]yyyy],PRESENT][S]
VOCABULARY="""<word>"""

